/* ==========================================================================
  Main StyleSheet
   ========================================================================== */

/* -------------------------------------------------------------------------
   Color Pallete
   --------------

   rgb(170, 200, 206): Very light blue, Used with: Horizontal rule
   #5ba3fa: Used for highlighting text

   Fonts
   -----
    font-family: 'Roboto Mono', monospace;
    font-family: 'Anton', sans-serif;
   ------------------------------------------------------------------------- */
   


   /* -------------------------------------------------------------------------
   Global Styles
   ------------------------------------------------------------------------- */

   @import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap');

  html, body {
    height: 100%;
 
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
      
  }

  .parallax {
    /* The image used */
    background-image: url('../images/troy-background-img.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    flex: 3;
  
  }

  main {
    flex: 1 0 auto;
    color: white;  
  }

  .hidden {
    display: none !important;
  }

  ::-moz-selection {
    background: #5ba3fa;
    text-shadow: none;
    color: white;
  }
  
  ::selection {
    background: #5ba3fa;
    text-shadow: none;
    color: white;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(170, 200, 206);
    margin: 1em 0;
    padding: 0;
  }

audio, iframe, img, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

   /* -------------------------------------------------------------------------
   Header and footer
   ------------------------------------------------------------------------- */
/* 
You could even add a header above that or more stuff below. The trick with flexbox is either:
flex: 1 on the child you want to grow to fill the space (the content, in our case).
or, margin-top: auto to push the child away as far as it will go from the neighbor 
(or whichever direction margin is needed).
 */

 header, footer {
     background-color: rgb(46, 99, 214);
 }

 header {
     opacity: 0.7;
     border: 1px solid white;
     background: #8494a7;
     background: linear-gradient(to right, #0062E6, #33AEFF);
 }

 header:hover {
    opacity: 0.9;
}


.navbar-brand {
    font-size: 2.5rem;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }

.dropdown-menu {
    min-width: 20rem;
    width: 85rem;
    border-radius: .45;
    font-size: 1.5rem;
}

  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  
  .dropdown-menu.show, .dropdown-menu, .dropdown-menu-right
  {
    background: #8494a7;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    opacity: 0.8;
}

#navbarDropdown {
    font-size: 1.5rem;
}

#dropdown-left {
  display: inherit;
}

.dropdown-right {
    float: right;
    position: absolute;
    right: 0;   
    padding: 0 15px;
    margin:0;
}

.search-container {
    
    padding: 0px;
    margin: 0px;
}
    .search-container button {
        background: none;
        border: none;
    }

    .fa-search {
        margin: 0;
        padding: 0;
    }

    .search-container .search-input {
        transition: margin-left 2.5s;
        margin: 0;
        padding: 0;
        border: 3px solid #34d7cc;
    }

    /* User Login Modal */

/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-left: 35%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
  position: relative;
  background: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-header {
  padding: 2px 16px;
  background: #8494a7;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  color: white;
  text-align: center;
}

#modal-header h2 {
  padding: 10px 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
  text-align: center;
}

.modal-body input {
  padding: 15px 20px;
  margin: 15px 40px;
}

#modal-footer {
  padding: 2px 16px;
  background: #8494a7;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  color: white;
  text-align: center;
}

.credentials {
  display: flex;
  justify-content: center;
  margin: 10px 25px;
}

.credentials h4 {
  padding: 0 15px;
}

#modal-footer p a {
  color: white;
  text-decoration: underline;
}

#modal-footer a:hover {
  color: black;
}

   footer {
    flex-shrink: 0;
  }


 /* -------------------------------------------------------------------------
   Main
   ------------------------------------------------------------------------- */
   section:first-of-type {
    font-size: 1.25em;
    font-family: 'Anton', sans-serif;
    background-color: black;
    opacity: 0.3;
    width: 40%;
    left: 20%;
    margin: 16% 0;
    text-align: center; 
    z-index: 1;
  }

  section:first-of-type hr {
    width: 100%;
    position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 1em 0;
    padding: 0;
  }


  section:nth-of-type(2), section:nth-of-type(4) {
    background-color: white;
    color: black;
    opacity: 0.9;
    text-align: center; 
  }

  section:nth-of-type(2) h3,  section:nth-of-type(3) h3,  section:nth-of-type(4) h3, section:nth-of-type(5) h3 {
    font-family: 'Anton', sans-serif;
    padding: 20px 25px;
  }

  section:nth-of-type(2) p, section:nth-of-type(4) p {
    padding: 18% 15px;
  }

  section:nth-of-type(3) {

    margin: 10% 5%;
    width: 50%;
    background-color: #000;
    opacity: 0.3;
  }

  section:nth-of-type(3) p, section:nth-of-type(3) input, section:nth-of-type(5) p, section:nth-of-type(5) input {
    margin: 20px 25px;
    font-size: 1.4rem;
  }

  section:nth-of-type(3) input {
    height: 50px;
    width: 90%;
  }

  section:nth-of-type(5) {
    background-color: #000;
    opacity: 0.9%;
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 5%;
    margin: 5% 10%;
    width: 80%;
  }

  /* section:nth-of-type(5) button {
    padding: 40px 10px;
   
  } */

  section:nth-of-type(5) form {
    padding: 5% 10px;
    padding-bottom: 10%;
  } 

  /* sign up button effect */
  .containerz {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centerz {
    width: 400px;
    height: 200px;
    position: absolute;
  }
  
  .btnz {
    width: 400px;
    height: 200px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btnz:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btnz:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btnz span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }