@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


    <body>
        <div class="bg-error text-center">
            
            <h1 class="text-danger text-right">OOPS!</h1>
            <h2 class="text-danger text-right">You broke it! :(</h2>
            @if (Model.ShowRequestId)
            {
                <p class="text-right text-white">
                    <strong>Request ID:</strong> <code class="text-white">@Model.RequestId</code>
                </p>
            }
            </div>
    </body>