<body>

<div class="parallax">
    <main>

        <section>
            <hr>
            <p>My Mission is to help others ascend to a super saiyan.</p>
            <hr>
        </section>

        <section>
            <h3>Featured Products</h3>
            <p>
                {Gallery of products to be shown here using an automatic slideshow effect
                <br> Use a partial view or a view component/media component with VS}
        </section>

        <section>
            <h3>Keep updated</h3>
            <p>
                Get up to date with all of the newest training tips, and get notified when a new deal is available.
            </p>
            <form action="/Subscribe.cshtml">
                <input type="email" placeholder="Enter your email here" name="subscribe" class="login">
            </form>
        </section>

        <section>
            <h3>Transformations</h3>
            <p>
                {Gallery of products to be shown here using an automatic slideshow effect
                <br> Use a partial view or a view component/media component with VS}
        </section>

        <section>
            <div class="register-left">
                <h3>What are you waiting for?</h3>
                <p> Join now and begin the ascension!</p>
                <form action="/Register.cshtml">
                    <div class="centerz">
                        <button class="btnz">
                            <svg width="400px" height="200px" viewBox="0 0 400 200" class="borderz">
                                <polyline points="399,1 399,199 1,199 1,1 399,1" class="bg-line" />
                                <polyline points="399,1 399,199 1,199 1,1 399,1" class="hl-line" />
                            </svg>
                            <span>START THE JOURNEY</span>
                        </button>
                    </div>
                </form>
            </div>

            <aside id="register-pic">
                Picture goes here
            </aside>
        </section>
    </main>

</div>

</body>