@page
@model TroydonFitnessWebsite.Pages.Products.Orders.ManageCart.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cart.TrainingRoutineID" class="control-label"></label>
                <select asp-for="Cart.TrainingRoutineID" class ="form-control" asp-items="ViewBag.TrainingRoutineID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cart.DietID" class="control-label"></label>
                <select asp-for="Cart.DietID" class ="form-control" asp-items="ViewBag.DietID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cart.SupplementID" class="control-label"></label>
                <select asp-for="Cart.SupplementID" class ="form-control" asp-items="ViewBag.SupplementID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cart.TrainingEquipmentID" class="control-label"></label>
                <select asp-for="Cart.TrainingEquipmentID" class ="form-control" asp-items="ViewBag.TrainingEquipmentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cart.ProductName" class="control-label"></label>
                <input asp-for="Cart.ProductName" class="form-control" />
                <span asp-validation-for="Cart.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Price" class="control-label"></label>
                <input asp-for="Cart.Price" class="form-control" />
                <span asp-validation-for="Cart.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cart.Quantity" class="control-label"></label>
                <input asp-for="Cart.Quantity" class="form-control" />
                <span asp-validation-for="Cart.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
