@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "Account Confirmed"; }

<div class="container2 text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Congragulations on setting your account ! <br /> You are well on your way to ascending to the super saiyan in you</p>
    <a asp-page="/Account/Login">Login here</a>
</div>