@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

@* Sends the user away from the logout page once logged out after 3 seconds *@
@section Scripts {
<script  type="text/javascript">
    $(document).ready(function () {
    // Simulate an HTTP redirect:
    setTimeout(function () { // timer
        window.location.href = "https://localhost:44311/";
    }, 5000); // 10000 ms = 10 seconds
    });
</script>
}