/* ==========================================================================
  Main StyleSheet
   ========================================================================== */

/* -------------------------------------------------------------------------
   Color Pallete
   --------------

   rgb(170, 200, 206): Very light blue, Used with: Horizontal rule
   #5ba3fa: Used for highlighting text

   Fonts
   -----
    font-family: 'Roboto Mono', monospace;
    font-family: 'Anton', sans-serif;
   ------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
   Global Styles
   ------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Mono&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

.parallax {
    /* The image used */
    background-image: url('../images/troy-background-img2.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 3;
}

main {
    flex: 1 0 auto;
    color: black;
}

.hidden {
    display: none !important;
}

::-moz-selection {
    background: #5ba3fa;
    text-shadow: none;
    color: white;
}

::selection {
    background: #5ba3fa;
    text-shadow: none;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(170, 200, 206);
    margin: 1em 0;
    padding: 0;
    color: white;
}

audio, iframe, img, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.auto-margin {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
/* -------------------------------------------------------------------------
   Header and footer
   ------------------------------------------------------------------------- */
/* 
You could even add a header above that or more stuff below. The trick with flexbox is either:
flex: 1 on the child you want to grow to fill the space (the content, in our case).
or, margin-top: auto to push the child away as far as it will go from the neighbor 
(or whichever direction margin is needed).
 */
header, footer {
    background-color: rgb(46, 99, 214);
}

header {
    opacity: 0.7;
    border: 1px solid white;
    background: #8494a7;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

    header:hover {
        opacity: 0.9;
    }


.navbar-brand {
    font-size: 2.5rem;
}

/* Main Navbar */

#navbarSupportedContent22 {
    padding: 1rem;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

.dropdown-menu {
    min-width: 20rem;
    width: 85rem;
    font-size: 1.5rem;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.dropdown-menu.show, .dropdown-menu, .dropdown-menu-right {
    background: #8494a7;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    opacity: 0.8;
}

#navbarDropdown {
    font-size: 1.5rem;
}

#dropdown-left {
    display: inherit;
    margin: auto;
}

div.dropdown-menu.dropdown-menu-right.animate.slideIn.show {
    height: 3rem;
    width: 30%;
}

.dropdown-right {
    position: absolute;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    align-items: center;
    height: 2rem;
}

/* Logging In*/
#logout {
    align-items: center;
}

a.register-home, .login-home {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.signup-main {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

    .signup-main:hover {
        text-decoration: none;
        background-color: #007bff;
    }
/* Search*/
.search-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

    .search-container button {
        background: none;
        border: none;
    }

.fa-search {
    margin: 0;
    padding: 0;
}

.search-container .search-input {
    transition: margin-left 2.5s;
    margin: 0;
    padding: 0;
    border: 3px solid #34d7cc;
}

.search-input {
    width: 20rem;
    height: 2.5rem;
}

/* User Login Modal */
/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 35%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
    position: relative;
    background: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#modal-header {
    padding: 2px 16px;
    background: #8494a7;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    color: white;
    text-align: center;
}

    #modal-header h2 {
        padding: 10px 0;
    }

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
    text-align: center;
}

    .modal-body input {
        padding: 15px 20px;
        margin: 15px 40px;
    }

#modal-footer {
    padding: 2px 16px;
    background: #8494a7;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    color: white;
    text-align: center;
}

.credentials {
    display: flex;
    justify-content: center;
    margin: 10px 25px;
}

    .credentials h4 {
        padding: 0 15px;
    }

#modal-footer p a {
    color: white;
    text-decoration: underline;
}

#modal-footer a:hover {
    color: black;
}

/* footer style starts here */

footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

    footer p:first-child {
        padding-top: 5%;
        font-size: 1.5rem;
    }

.msg-icon {
    padding: 5px 25px;
    color: inherit;
}

footer p:nth-child(2) {
    padding-top: 15%;
}

footer p:nth-child(3) {
    padding-top: 5%;
}

footer form {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

    footer form span a, footer a {
        color: inherit;
        padding: 0 15px;
    }

/*Breadcrumbs*/
.bc-icons .breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

.bc-icons .breadcrumb-item.active {
    color: #eeeeee;
}



/* -------------------------------------------------------------------------
   Main
   ------------------------------------------------------------------------- */

/*Troydon Background Image*/

/* set an earth to be backkground img*/
#earth-bg {
    background: url(https://lh3.googleusercontent.com/pESyV4PL4oQ5aTZlatQvOI3NjjYelP89hHkiL1MG_ppL6Lsc11wJEYAH7Z6VLXs4jNLD6O7wsBNGNH9zsFqr0h9HzPeHI345lAl8Oe2aE0giwmZQhQ0Gb22Rieu2zD0yORvz6C7EFA);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: transform .5s ease; /* [2] Transition property for smooth transformation of images */
}

section {
    color: white;
}

    section:first-of-type {
        font-size: 1.25em;
        font-family: 'Anton', sans-serif;
        opacity: 0.3;
        width: 40%;
        left: 20%;
        margin: 0;
        text-align: center;
        z-index: 1;
        height: 500px;
    }

#text-information {
    color: black;
    opacity: 1;
}

section:first-of-type p {
    background-color: black;
    opacity: 0.6;
}

section:first-of-type hr {
    width: 100%;
    position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

    section:first-of-type hr:first-of-type {
        width: 50%;
        position: relative;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid white;
        padding: 10%;
    }


section:nth-of-type(2), section:nth-of-type(4) {
    background-color: white;
    color: black;
    opacity: 0.9;
    text-align: center;
}

    section:nth-of-type(2) h3, section:nth-of-type(3) h3, section:nth-of-type(4) h3, section:nth-of-type(5) h3 {
        font-family: 'Anton', sans-serif;
        padding: 20px 25px;
    }

    section:nth-of-type(2) p, section:nth-of-type(4) p {
        padding: 18% 15px;
    }

section:nth-of-type(3) {
    margin: 10% 5%;
    width: 50%;
    background-color: #000;
    opacity: 0.3;
}

    section:nth-of-type(3) p, section:nth-of-type(3) input, section:nth-of-type(5) p, section:nth-of-type(5) input {
        margin: 20px 25px;
        font-size: 1.4rem;
    }

    section:nth-of-type(3) input {
        height: 50px;
        width: 90%;
    }

section:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    background-color: #000;
    opacity: 0.9%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 5% 10%;
    width: 80%;
}

.register-left {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(5) form {
    padding: 5% 10px;
    padding-bottom: 10%;
}

/* sign up button effect */
.containerz {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    margin: 3rem;
}



body > main > div.container2 > form > div > div.col-md-4.mb-4.payment-margin > div > a, body > main > div.container2 > form > div > div.col-md-6.order-md-4.payment-margin > div.form-group > input {
    font-size: 2rem;
}
/* Order styling */
dl {
    width: 100%;
    overflow: hidden;
    /*    background: #ff0;*/
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    background-color: cadetblue;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    background: #fff;
    padding: 0;
    margin: 0
}

.add-line {
    border-bottom: 1px solid black;
}

/* Ensures the last dd does not have a border */
dd:last-child {
    border: none;
}

@media (min-width: 576px) {
    .container2 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container2 {
        max-width: 920px;
    }
}

@media (min-width: 992px) {
    .container2 {
        max-width: 1260px;
    }
}

@media (min-width: 1200px) {
    .container2 {
        max-width: 95%;
    }
}

.centerz {
    width: 400px;
    height: 200px;
    position: absolute;
}

.btnz {
    width: 400px;
    height: 200px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btnz:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

    .btnz:hover svg {
        stroke-dashoffset: -480;
    }

.btnz span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

#register-pic {
    height: 300px;
    width: 30%;
    background-color: white;
    z-index: 10;
    padding: 20px;
    float: right;
    margin: 10%;
    color: black;
}

/* Products*/

.add-to-cart a {
    margin-top: 6rem;
}


/* Account UI */
.display-panel {
    flex-direction: row;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .display-panel {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .display-panel {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .display-panel {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .display-panel {
        max-width: 1140px
    }
}
