@page
@model TroydonFitnessWebsite.Pages.Products.MainProductPageModel
@{
    ViewData["Title"] = "MainPage";
}

<div class="container2">

    <h2> Choose What type of Product you would like to order</h2>

    <div class="navbar-Product">
        <h1><a asp-page="/Products/PersonalTrainingSessions/PtMainPage" data-toggle="tooltip" data-placement="left" title="Choose a personal training session">Personal Training</a></h1>
        <h1><a asp-page="/Products/Supplements/SuppMainPage" data-toggle="tooltip" data-placement="left" title="Purchase supplements">Supplements</a></h1>
        <h1><a asp-page="/Products/TrainingEquipmentPurchases/EquipMainPage" data-toggle="tooltip" data-placement="left" title="Purchase training equipment">Training Equipment</a></h1>
    </div>

    <a asp-page="./Index">
        <input type="button" class="btn btn-success" value="Manage Products" />
    </a>
</div>