@page
@model TroydonFitnessWebsite.Pages.Products.PersonalTrainingSessions.PtMainPageModel
@{
    ViewData["Title"] = "PtMainPage";
}

<div class="container2">

    <h2> Choose What type of Personal Training you would like</h2>

    <div class="navbar-Product">
        <a asp-page="/Products/TrainingRoutines/Index" data-toggle="tooltip" data-placement="left" title="Purchase a personal training routine">Training Routine</a>
        <a asp-page="/Products/Diets/Index" data-toggle="tooltip" data-placement="left" title="Purchase a diet routine">Diet Routine</a>
    </div>

    <a asp-page="./Index">
        <input type="button" class="btn btn-success" value="Manage Products" />
    </a>
</div>