@page
@model TroydonFitnessWebsite.Pages.Products.Supplements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Supplement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Supplement.SupplementID" />
            <div class="form-group">
                <label asp-for="Supplement.ProductID" class="control-label"></label>
                <select asp-for="Supplement.ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="Supplement.ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplement.DietID" class="control-label"></label>
                <select asp-for="Supplement.DietID" class="form-control" asp-items="ViewBag.DietID"></select>
                <span asp-validation-for="Supplement.DietID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplement.Description" class="control-label"></label>
                <input asp-for="Supplement.Description" class="form-control" />
                <span asp-validation-for="Supplement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
