@page
@model TroydonFitnessWebsite.Pages.UserAccount.AdminUser.DiagnosticsModel
@{
    ViewData["Title"] = "Diagnostics";
}

<h2> Statistics</h2>

<table>
    <tr>
        <th>
            Product Availability
        </th>
        <th>
            Products
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HasStock)
            </td>
            <td>
                @item.ProductCount
            </td>
        </tr>
    }
</table>
